body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: center;
    margin: 5px;
}

.box {
    background-color: silver;
    border: 1px solid black;
    border-radius: 9px;
    padding: 15px;
    width: 320px;
}

.label {
    text-align: left;
}

.inputNumber {
    width: 130px;
    border: 2px solid;
    border-radius: 5px;
    margin: 10px;
    padding: 10px ;
}

button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid;
    border-radius: 9px;
}

.stepText {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 30px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10px;

    background-color: gray;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid black;
}

.light {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #333;
    transition: 0.5s;
}

.lights {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 30px;
}

.red {
    background: red;
}

.green {
    background: limegreen;
}







